*{
    margin: 0;
    padding: 0;
}
table{
    margin: 0 auto;
    width: 50%;
    border: solid 1px black;
    
}
th{
    margin: 20px;
    background-color: aqua;
    border: solid 1px black;
}
.b{
    background-color:white;
}